@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1877f2;
}

.header h1 {
  font-weight: 500;
  color: white;
}

/* news-grid */

.news-grid {
  margin: 30px 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.news-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news-card h3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1rem;
  margin-top: 7px;
}

.news-card img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .news-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
